spring:
  main:
    allow-bean-definition-overriding: true
testclass:
  name: fi.fmi.avi.archiver.config.InvalidConfigDetectionTest
---
spring.config.activate.on-profile: testMissingProductId

production-line:
  products:
    - route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testMissingProductRoute

production-line:
  products:
    - id: product1
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testMissingProductInputDir

production-line:
  products:
    - id: product1
      route: TEST
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testMissingProductArchiveDir

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testMissingProductFailDir

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testMissingProductFiles

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
---
spring.config.activate.on-profile: testMissingProductFilePattern

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testMissingProductFileNameTimeZone

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          format: TAC
---
spring.config.activate.on-profile: testMissingProductFileFormat

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
---
spring.config.activate.on-profile: testEmptyProducts

production-line:
  products:
---
spring.config.activate.on-profile: testEmptyProductId

production-line:
  products:
    - id: ''
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testEmptyProductRoute

production-line:
  products:
    - id: product1
      route: ''
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testEmptyProductInputDir

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ''
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testEmptyProductArchiveDir

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ''
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testEmptyProductFailDir

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ''
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testEmptyProductFiles

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files: [ ]
---
spring.config.activate.on-profile: testEmptyProductFilePattern

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ''
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testEmptyProductFileNameTimeZone

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: ''
          format: TAC
---
spring.config.activate.on-profile: testEmptyProductFileFormat

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: ''
---
spring.config.activate.on-profile: testInvalidProductRoute

production-line:
  products:
    - id: product1
      route: INVALID_ROUTE
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testInvalidProductFilePattern

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: '('
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testInvalidProductFileNameTimeZone

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: INVALID_ZONE
          format: TAC
---
spring.config.activate.on-profile: testInvalidProductFileFormat

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: INVALID_FORMAT
---
spring.config.activate.on-profile: testDuplicateProductId

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/archived
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input2
      archive-dir: ${testclass.workdir.path}/archived2
      fail-dir: ${testclass.workdir.path}/failed2
      files:
        - pattern: ^.*\.txt2$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testDuplicateProductFilePattern

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/archived
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testDuplicateProductFilePatternInDifferentProduct

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/archived
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
    - id: product2
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/archived
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testInputDirEqualToArchiveDir

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/input
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testInputDirEqualToArchiveDirInOtherProduct

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/archived
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
    - id: product2
      route: TEST
      input-dir: ${testclass.workdir.path}/input2
      archive-dir: ${testclass.workdir.path}/input
      fail-dir: ${testclass.workdir.path}/failed2
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testInputDirEqualToFailDir

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/archived
      fail-dir: ${testclass.workdir.path}/input
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testInputDirEqualToFailDirInOtherProduct

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/archived
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
    - id: product2
      route: TEST
      input-dir: ${testclass.workdir.path}/input2
      archive-dir: ${testclass.workdir.path}/archived2
      fail-dir: ${testclass.workdir.path}/input
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testArchiveDirEqualToFailDirInOtherProduct

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/archived
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
    - id: product2
      route: TEST
      input-dir: ${testclass.workdir.path}/input2
      archive-dir: ${testclass.workdir.path}/archived2
      fail-dir: ${testclass.workdir.path}/archived
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testFailDirEqualToArchiveDirInOtherProduct

production-line:
  products:
    - id: product1
      route: TEST
      input-dir: ${testclass.workdir.path}/input
      archive-dir: ${testclass.workdir.path}/failed2
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
    - id: product2
      route: TEST
      input-dir: ${testclass.workdir.path}/input2
      archive-dir: ${testclass.workdir.path}/archived2
      fail-dir: ${testclass.workdir.path}/failed2
      files:
        - pattern: ^.*\.txt$
          name-time-zone: Z
          format: TAC
---
spring.config.activate.on-profile: testMissingMessagePopulatorExecutionChain

---
spring.config.activate.on-profile: testEmptyMessagePopulatorExecutionChain

production-line:
  message-populators: [ ]
---
spring.config.activate.on-profile: testMissingStaticRouteIds

production-line:
---
spring.config.activate.on-profile: testMissingStaticFormatIds

production-line:
---
spring.config.activate.on-profile: testMissingStaticTypeIds

production-line:
---
spring.config.activate.on-profile: testEmptyStaticRouteIds

production-line:
  route-ids: { }
---
spring.config.activate.on-profile: testEmptyStaticFormatIds

production-line:
  format-ids: { }
---
spring.config.activate.on-profile: testEmptyStaticTypeIds

production-line:
  type-ids: { }
