##############################################
#
#  Datasource properties
#
##############################################
# START SNIPPET: Datasource properties
spring.config.activate.on-profile: h2

spring:
  datasource:
    url: jdbc:h2:mem:archiver
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  sql:
    init:
      platform: h2
---
##############################################
#
#  Product specific properties
#
##############################################
# START SNIPPET: products
polling:
  delay: 500

production-line-initialization:
  products:
    - id: textFile
      input-dir: ${user.home}/.avi-message-archiver/src
      archive-dir: ${user.home}/.avi-message-archiver/dst
      fail-dir: ${user.home}/.avi-message-archiver/failed
      files:
        - pattern: ^.*\.txt$
        - pattern: ^.*\.txt2$
    - id: anotherFile
      input-dir: ${user.home}/.avi-message-archiver/src2
      archive-dir: ${user.home}/.avi-message-archiver/dst2
      fail-dir: ${user.home}/.avi-message-archiver/failed2
      files:
        - pattern: ^.*another$

# END SNIPPET: products

##############################################
#
#  File handling
#
##############################################
# START SNIPPET: File handling
file-handler:
  charset: UTF-8
  retry:
    initial-interval: PT0.5S
    multiplier: 2
    max-attempts: 3
# END SNIPPET: File handling

##############################################
#
#  Message parsing
#
##############################################
# START SNIPPET: Message parsing
message-parsing:
  types:
    TAF: -1
    METAR: -1
    SPECI: -1
    SIGMET: -1
    GAFOR: -1
    AIRMET: -1
    TROPICAL_CYCLONE_ADVISORY: -1
    VOLCANIC_ASH_ADVISORY: -1
    BULLETIN: -1
    GENERIC: -1
    LOW_WIND: -1
    WX_WARNING: -1
    SPECIAL_AIR_REPORT: -1
    WXREP: -1
    SPACE_WEATHER_ADVISORY: -1
# END SNIPPET: Message parsing
