##############################################
#
#  Product specific properties
#
##############################################
# START SNIPPET: products
polling:
  delay: 500

production-line-initialization:
  products:
    - id: textFile
      input-dir: ${user.home}/.avi-message-archiver/src
      archived-dir: ${user.home}/.avi-message-archiver/dst
      failed-dir: ${user.home}/.avi-message-archiver/failed
      files:
        - pattern: ^.*\.txt$
        - pattern: ^.*\.txt2$
    - id: anotherFile
      input-dir: ${user.home}/.avi-message-archiver/src2
      archived-dir: ${user.home}/.avi-message-archiver/dst2
      failed-dir: ${user.home}/.avi-message-archiver/failed2
      files:
        - pattern: ^.*another$

# END SNIPPET: products


##############################################
#
#  Message parsing
#
##############################################
# START SNIPPET: Message parsing
message-parsing:
  zone: UTC
  types:
    TAF: -1
    METAR: -1
    SPECI: -1
    SIGMET: -1
    GAFOR: -1
    AIRMET: -1
    TROPICAL_CYCLONE_ADVISORY: -1
    VOLCANIC_ASH_ADVISORY: -1
    BULLETIN: -1
    GENERIC: -1
    LOW_WIND: -1
    WX_WARNING: -1
    SPECIAL_AIR_REPORT: -1
    WXREP: -1
    SPACE_WEATHER_ADVISORY: -1
# END SNIPPET: Message parsing
