##############################################
#
#  Logging properties
#
##############################################
# START SNIPPET: logging
spring.config.activate.on-profile: local
logging:
  level:
    fi.fmi.avi.archiver: DEBUG
    org.springframework.integration.handler.LoggingHandler: DEBUG
---
spring.config.activate.on-profile: development
logging:
  level:
    fi.fmi.avi.archiver: DEBUG
    org.springframework.integration.handler.LoggingHandler: DEBUG
---
spring.config.activate.on-profile: testing
logging:
  level:
    fi.fmi.avi.archiver: INFO
    org.springframework.integration.handler.LoggingHandler: INFO
---
spring.config.activate.on-profile: production
logging:
  level:
    fi.fmi.avi.archiver: INFO
    org.springframework.integration.handler.LoggingHandler: INFO
---
# END SNIPPET: logging

##############################################
#
#  Datasource properties
#
##############################################
# START SNIPPET: Datasource properties
example:
  spring:
    sql:
      init:
        data-locations:
          h2: classpath:/h2-data/example/*.sql
          postgresql: classpath:fi/fmi/avi/avidb/schema/postgresql/privileges-postgresql.sql,classpath:/postgresql-data/example/*.sql
---
spring.config.activate.on-profile: h2

spring:
  datasource:
    url: jdbc:h2:mem:archiver;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  sql:
    init:
      platform: h2
      schema-locations: classpath:fi/fmi/avi/avidb/schema/h2/schema-h2.sql
---
spring.config.activate.on-profile: h2 & example
spring:
  sql:
    init:
      data-locations: ${example.spring.sql.init.data-locations.h2}
---
spring.config.activate.on-profile: postgresql

spring:
  datasource:
    # url: jdbc:postgresql://avidb:5432/avidb
    # username:
    # password:
    driver-class-name: org.postgresql.Driver
---
spring.config.activate.on-profile: local & postgresql & !openshift

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/avidb
    username: avidb_agent
    password: secret
    driver-class-name: org.postgresql.Driver
---
spring.config.activate.on-profile: (local | development) & postgresql

spring:
  sql:
    init:
      platform: postgresql
      schema-locations: classpath:fi/fmi/avi/avidb/schema/postgresql/schema-postgresql.sql
      data-locations: classpath:fi/fmi/avi/avidb/schema/postgresql/privileges-postgresql.sql
      mode: always
      # Treat the files as single SQL statements
      separator: ^^^ END OF SCRIPT ^^^
      continue-on-error: true
---
spring.config.activate.on-profile: (local | development) & postgresql & example

spring:
  sql:
    init:
      data-locations: ${example.spring.sql.init.data-locations.postgresql}
---
spring:
  datasource:
    hikari:
      login-timeout: 40
      connection-timeout: 20000
      validation-timeout: 5000
      # Allow the application to start even if initial datasource connection fails
      initialization-fail-timeout: 0
  jdbc:
    template:
      query-timeout: PT15S
  transaction:
    default-timeout: PT15S

datasource:
  schema: public
  retry:
    initial-interval: PT0.5S
    multiplier: 2
    max-interval: PT1M
    # Set to zero to retry infinitely. Set a positive duration for time limited retries.
    timeout: PT0S
---
# END SNIPPET: Datasource properties

##############################################
#
#  Executor config
#
##############################################
# START SNIPPET: executor
executor:
  queue-size: 20
---
# END SNIPPET: executor

##############################################
#
#  Shutdown config
#
##############################################
# START SNIPPET: shutdown
server:
  shutdown: graceful
spring:
  lifecycle:
    timeout-per-shutdown-phase: 20s
processing-flow:
  graceful-shutdown:
    timeout: PT20S
    polling-interval: PT0.1S
---
# END SNIPPET: shutdown

##############################################
#
#  Actuator config
#
##############################################
# START SNIPPET: actuators
info:
  app:
    name: '@project.name@'
    description: '@project.description@'
    groupId: '@project.groupId@'
    artifactId: '@project.artifactId@'
    version: '@project.version@'
    profiles: '${spring.profiles.active}'

management:
  info:
    build.enabled: true
    env.enabled: true
    git.enabled: true
    java.enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

health-indicator:
  directory-permission:
    temp-file-prefix: .temp
    temp-file-suffix: .healthindicator
  blocking-executor:
    timeout: PT30S
---
# END SNIPPET: actuators

##############################################
#
#  Production line configuration
#
##############################################
# START SNIPPET: production-line
polling:
  delay: PT1.000S

---
spring.config.activate.on-profile: example

production-line:
  directory:
    root: ${user.home}/aviation-message-archiver
    input-name: input
    archived-name: archived
    failed-name: failed
  pattern-template:
    yyyyMMdd: '(?<yyyy>\d{4})(?<MM>\d{2})(?<dd>\d{2})'
    hhmmss: '(?<hh>\d{2})(?<mm>\d{2})(?<ss>\d{2})'
    yyyyMMddhhmmss: '${production-line.pattern-template.yyyyMMdd}${production-line.pattern-template.hhmmss}'
    WMO_A_C: 'A_[A-Z0-9]{16,19}_C_[A-Z]{4}_${production-line.pattern-template.yyyyMMddhhmmss}'
  products:
    - id: example1
      route: DEFAULT
      input-dir: ${production-line.directory.root}/example1/${production-line.directory.input-name}
      archive-dir: ${production-line.directory.root}/example1/${production-line.directory.archived-name}
      fail-dir: ${production-line.directory.root}/example1/${production-line.directory.failed-name}
      files:
        - pattern: '^.*\.txt$'
          name-time-zone: Z
          format: TAC
        - pattern: '^.*\.xml$'
          name-time-zone: Z
          format: IWXXM
    - id: example2
      route: DEFAULT
      input-dir: ${production-line.directory.root}/example2/${production-line.directory.input-name}
      archive-dir: ${production-line.directory.root}/example2/${production-line.directory.archived-name}
      fail-dir: ${production-line.directory.root}/example2/${production-line.directory.failed-name}
      files:
        - pattern: '^${production-line.pattern-template.WMO_A_C}\.txt$'
          name-time-zone: Z
          format: TAC
        - pattern: '^${production-line.pattern-template.WMO_A_C}\.xml$'
          name-time-zone: Z
          format: IWXXM
  message-populators:
    - name: FileMetadataPopulator
    - name: FileNameDataPopulator
    - name: BulletinHeadingDataPopulator
      config:
        bulletin-heading-sources:
          - GTS_BULLETIN_HEADING
          - COLLECT_IDENTIFIER
    - name: MessageDataPopulator
    - name: FixedDurationValidityPeriodPopulator
      activate-on:
        type:
          is: SPACE_WEATHER_ADVISORY
      config:
        validity-end-offset: PT24H
    - name: MessageContentTrimmer
    - name: MessageFutureTimeValidator
      config:
        accept-in-future: PT12H
  route-ids:
    DEFAULT: 1
  format-ids:
    TAC: 1
    IWXXM: 2
  type-ids:
    METAR: 1
    SPECI: 2
    TAF: 3
    SIGMET: 4
    AIRMET: 5
    VOLCANIC_ASH_ADVISORY: 6
    TROPICAL_CYCLONE_ADVISORY: 7
    SPACE_WEATHER_ADVISORY: 8
# END SNIPPET: production-line
---

##############################################
#
#  File handling
#
##############################################
# START SNIPPET: File handling
file-handler:
  charset: UTF-8
  retry:
    initial-interval: PT0.5S
    multiplier: 2
    max-interval: PT10S
    timeout: PT0S
# END SNIPPET: File handling
