##############################################
#
#  Datasource properties
#
##############################################
# START SNIPPET: Datasource properties
spring.config.activate.on-profile: h2

spring:
  datasource:
    url: jdbc:h2:mem:archiver
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  sql:
    init:
      platform: h2
---
spring:
  datasource:
    hikari:
      login-timeout: 40
      connection-timeout: 20000
      validation-timeout: 5000
      # Allow the application to start even if initial datasource connection fails
      initialization-fail-timeout: 0
  jdbc:
    template:
      query-timeout: PT15S
  transaction:
    default-timeout: PT15S

datasource:
  retry:
    initial-interval: PT0.5S
    multiplier: 2
    max-interval: PT1M
    # Set to zero to retry infinitely. Set a positive duration for time limited retries.
    timeout: PT0S
---

##############################################
#
#  Actuator config
#
##############################################
# START SNIPPET: actuators
health-indicator:
  directoryPermission:
    tempFilePrefix: .temp
    tempFileSuffix: .healthindicator
---
# END SNIPPET: actuators

##############################################
#
#  Product specific properties
#
##############################################
# START SNIPPET: products
polling:
  delay: 500

production-line-initialization:
  products:
    - id: textFile
      route: DEFAULT
      input-dir: ${user.home}/.avi-message-archiver/src
      archive-dir: ${user.home}/.avi-message-archiver/dst
      fail-dir: ${user.home}/.avi-message-archiver/failed
      files:
        - pattern: ^.*\.txt$
          nameTimeZone: Z
          format: TAC
        - pattern: ^.*\.txt2$
          nameTimeZone: Z
          format: TAC
    - id: anotherFile
      route: DEFAULT
      input-dir: ${user.home}/.avi-message-archiver/src2
      archive-dir: ${user.home}/.avi-message-archiver/dst2
      fail-dir: ${user.home}/.avi-message-archiver/failed2
      files:
        - pattern: ^.*another$
          nameTimeZone: Z
          format: TAC

# END SNIPPET: products

##############################################
#
#  Message populator chain configuration
#
##############################################
# START SNIPPET: messagepopulators
message-populators:
  executionChain:
    - name: FileMetadataPopulator
    - name: FileNameDataPopulator
    - name: BulletinHeadingDataPopulator
      config:
        bulletinHeadingSources:
          - GTS_BULLETIN_HEADING
          - COLLECT_IDENTIFIER
    - name: MessageDataPopulator
# END SNIPPET: messagepopulators
---

##############################################
#
#  File handling
#
##############################################
# START SNIPPET: File handling
file-handler:
  charset: UTF-8
  retry:
    initial-interval: PT0.5S
    multiplier: 2
    max-attempts: 3
# END SNIPPET: File handling

##############################################
#
#  Message static values
#
##############################################
# START SNIPPET: Message static values
message-static-values:
  routeIds:
    DEFAULT: 1
  formatIds:
    TAC: 1
    IWXXM: 2
  typeIds:
    METAR: 1
    SPECI: 2
    TAF: 3
    SIGMET: 4
    AIRMET: 5
    VOLCANIC_ASH_ADVISORY: 6
    TROPICAL_CYCLONE_ADVISORY: 7
    SPACE_WEATHER_ADVISORY: 8
# END SNIPPET: Message static values


