production-line:
  message-populators:
    - name: FixedValueTestPopulator1
      config:
        ids:
          ROUTE: 1
          FORMAT: 2
          TYPE: 3
        validity-period: [ ]
    - name: FixedValueTestPopulator1
      config:
        ids: { }
        validity-period: 2001-02-04T05:06:07.021Z
    - name: FixedValueTestPopulator1
      config:
        validity-period: 2001-02-04T05:06:07.029Z, 2001-02-05T06:07:08.039Z
    - name: FixedValueTestPopulator2
      config:
        station: EFQQ
        message: testMessage
    - name: FixedValueTestPopulator2
      config:
        station: EFXX
    - name: FixedValueTestPopulator1
    - name: FixedValueTestPopulator3
      config:
        file-modified-from-now: PT10H11M12.5S
    - name: FixedValueTestPopulator1
      config:
        ids:
          TYPE: 4
        message-time: 2001-02-03T04:05:06.019Z
        validity-period:
          - null
          - 2001-02-05T06:07:08.041Z
