##############################################
#
#  Test-specific properties
#
##############################################
# START SNIPPET: tests
testclass:
  #  Set name correctly in each test class
  name: ~
  workdir:
    parent: ${java.io.tmpdir}
    path: ${testclass.workdir.parent}/${testclass.name}
# END SNIPPET: tests

##############################################
#
#  Datasource properties
#
##############################################
# START SNIPPET: Datasource properties
datasource:
  schema: public
# END SNIPPET: datasource

##############################################
#
#  Shutdown config
#
##############################################
# START SNIPPET: shutdown
server:
  shutdown: graceful
spring:
  lifecycle:
    timeout-per-shutdown-phase: "20s"
processing-flow:
  gracefulShutdown:
    timeout: PT5S
    pollingInterval: PT0.1S
---
# END SNIPPET: shutdown

##############################################
#
#  Actuator config
#
##############################################
# START SNIPPET: actuators
health-indicator:
  directoryPermission:
    tempFilePrefix: .temp
    tempFileSuffix: .healthindicator
---
# END SNIPPET: actuators

##############################################
#
#  Product specific properties
#
##############################################
# START SNIPPET: products
polling:
  delay: 50

production-line-initialization:
  products:
    - id: test_taf
      route: TEST
      input-dir: ${testclass.workdir.path}/src
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          nameTimeZone: Z
          format: TAC
        - pattern: ^.*\.txt2$
          nameTimeZone: Z
          format: TAC
    - id: test_taf_2
      route: TEST
      input-dir: ${testclass.workdir.path}/src2
      archive-dir: ${testclass.workdir.path}/dst2
      fail-dir: ${testclass.workdir.path}/failed2
      files:
        - pattern: ^.*\.another$
          nameTimeZone: Z
          format: TAC
    - id: test_iwxxm_taf
      route: TEST
      input-dir: ${testclass.workdir.path}/src_iwxxm_taf
      archive-dir: ${testclass.workdir.path}/dst_iwxxm_taf
      fail-dir: ${testclass.workdir.path}/failed_iwxxm_taf
      files:
        - pattern: ^.*\.xml$
          nameTimeZone: Z
          format: IWXXM
    - id: test_taf_bulletin
      route: TEST
      input-dir: ${testclass.workdir.path}/src_taf_bulletin
      archive-dir: ${testclass.workdir.path}/dst_taf_bulletin
      fail-dir: ${testclass.workdir.path}/failed_taf_bulletin
      files:
        - pattern: ^.*\.bul$
          nameTimeZone: Z
          format: TAC
# END SNIPPET: products

##############################################
#
#  Message populator chain configuration
#
##############################################
# START SNIPPET: messagepopulators
message-populators:
  executionChain:
    - name: FileMetadataPopulator
    - name: FileNameDataPopulator
    - name: BulletinHeadingDataPopulator
      config:
        bulletinHeadingSources:
          - GTS_BULLETIN_HEADING
          - COLLECT_IDENTIFIER
    - name: MessageDataPopulator
# END SNIPPET: messagepopulators

##############################################
#
#  File handling
#
##############################################
# START SNIPPET: File handling
file-handler:
  charset: UTF-8
  retry:
    initial-interval: PT0.5S
    max-interval: PT10S
    multiplier: 2
    timeout: PT0S
# END SNIPPET: File handling

##############################################
#
#  Message static values
#
##############################################
# START SNIPPET: Message static values
message-static-values:
  routeIds:
    TEST: 1
    TEST2: 2
  formatIds:
    TAC: 1
    IWXXM: 2
  typeIds:
    METAR: 1
    SPECI: 2
    TAF: 3
    SIGMET: 4
    AIRMET: 5
    VOLCANIC_ASH_ADVISORY: 6
    TROPICAL_CYCLONE_ADVISORY: 7
    SPACE_WEATHER_ADVISORY: 8
# END SNIPPET: Message static values