##############################################
#
#  Test-specific properties
#
##############################################
# START SNIPPET: tests
testclass:
  #  Set name correctly in each test class
  name: ~
  workdir:
    parent: ${java.io.tmpdir}
    path: ${testclass.workdir.parent}/${testclass.name}
# END SNIPPET: tests

##############################################
#
#  Product specific properties
#
##############################################
# START SNIPPET: products
polling:
  delay: 50

production-line-initialization:
  products:
    - id: test_taf
      route: TEST
      input-dir: ${testclass.workdir.path}/src
      archive-dir: ${testclass.workdir.path}/dst
      fail-dir: ${testclass.workdir.path}/failed
      files:
        - pattern: ^.*\.txt$
          nameTimeZone: Z
          format: TAC
        - pattern: ^.*\.txt2$
          nameTimeZone: Z
          format: TAC
    - id: test_taf_2
      route: TEST
      input-dir: ${testclass.workdir.path}/src2
      archive-dir: ${testclass.workdir.path}/dst2
      fail-dir: ${testclass.workdir.path}/failed2
      files:
        - pattern: ^.*\.another$
          nameTimeZone: Z
          format: TAC
    - id: test_iwxxm_taf
      route: TEST
      input-dir: ${testclass.workdir.path}/src_iwxxm_taf
      archive-dir: ${testclass.workdir.path}/dst_iwxxm_taf
      fail-dir: ${testclass.workdir.path}/failed_iwxxm_taf
      files:
        - pattern: ^.*\.xml$
          nameTimeZone: Z
          format: IWXXM

# END SNIPPET: products

##############################################
#
#  File handling
#
##############################################
# START SNIPPET: File handling
file-handler:
  charset: UTF-8
  retry:
    initial-interval: PT0.5S
    multiplier: 2
    max-attempts: 3
# END SNIPPET: File handling

##############################################
#
#  Message static values
#
##############################################
# START SNIPPET: Message static values
message-static-values:
  routeIds:
    TEST: 1
    TEST2: 2
  formatIds:
    TAC: 1
    IWXXM: 2
  typeIds:
    TAF: 2
    METAR: -1
    SPECI: -1
    SIGMET: -1
    GAFOR: -1
    AIRMET: -1
    TROPICAL_CYCLONE_ADVISORY: -1
    VOLCANIC_ASH_ADVISORY: -1
    BULLETIN: -1
    GENERIC: -1
    LOW_WIND: -1
    WX_WARNING: -1
    SPECIAL_AIR_REPORT: -1
    WXREP: -1
    SPACE_WEATHER_ADVISORY: -1
# END SNIPPET: Message static values