##############################################
#
#  Product specific properties
#
##############################################
# START SNIPPET: products
polling:
  delay: 50

production-line-initialization:
  products:
    - id: testProduct
      input-dir: ${java.io.tmpdir}/.avi-message-archiver/src
      archived-dir: ${java.io.tmpdir}/.avi-message-archiver/dst
      failed-dir: ${java.io.tmpdir}/.avi-message-archiver/failed
      files:
        - pattern: ^.*\.txt$
        - pattern: ^.*\.txt2$
    - id: testProduct2
      input-dir: ${java.io.tmpdir}/.avi-message-archiver/src2
      archived-dir: ${java.io.tmpdir}/.avi-message-archiver/dst2
      failed-dir: ${java.io.tmpdir}/.avi-message-archiver/failed2
      files:
        - pattern: ^.*\.another$

# END SNIPPET: products

##############################################
#
#  File handling
#
##############################################
# START SNIPPET: File andling
file-handler:
  charset: UTF-8
  retry:
    initial-interval: PT0.5S
    multiplier: 2
    max-attempts: 3
# END SNIPPET: File handling

##############################################
#
#  Message parsing
#
##############################################
# START SNIPPET: Message parsing
message-parsing:
  types:
    TAF: 2
    METAR: -1
    SPECI: -1
    SIGMET: -1
    GAFOR: -1
    AIRMET: -1
    TROPICAL_CYCLONE_ADVISORY: -1
    VOLCANIC_ASH_ADVISORY: -1
    BULLETIN: -1
    GENERIC: -1
    LOW_WIND: -1
    WX_WARNING: -1
    SPECIAL_AIR_REPORT: -1
    WXREP: -1
    SPACE_WEATHER_ADVISORY: -1
# END SNIPPET: Message parsing
